
/* Style rules for body*/

body {
	background-image: url("images/background.jpeg");
	background-size: auto; 
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-color: #ccffee;
	background-repeat: repeat-y;
	font-family: "Courier New", Courier, monospace;
}


h2 {
	text-align: center;
	color: black;
}

h3 {
	color: #ccffee;
}


/* style rules for images */
a img {
  display: block;        
  margin: 1em auto;       
  border: 3px solid transparent;
  transition: border-color 0.3s ease;
}

a:hover img,
a img:hover {
  border-color: #ccffee;
}

.img-cred {
	color: black;
	font-size: 0.5em;
	text-align: center;
}

/* Style Rules for Main */
.main-title {
	text-align: center;
	color: black;
}

.container {
  width: fit-content;
  margin: auto;
  border: 1px solid #ccffee;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 51, 0, 0.4);
}


/* Grid layout for tables */
.grid {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid #ffe599;
	padding: 2.3em;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
}


/* Style RUles for table*/
.grid table {
	width: 100%;
}

tr {
	text-align: center;
	color: #fff;
}

th, td {
	text-align: left;
	border: 1px solid #be87c5;
	font-size:.75em;
}

thead th {
	color: #ffe599;
}

table {
	table-layout: auto;
	border: 1px solid #4f3650;
	border-collapse: collapse;
	width: 100%; 
	margin: 0; 
}


/* Media Query for Desktop Viewport */
@media screen and (min-width:1015px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
